@use "../../styles/index" as *;

.container {
  @include flex-row($gap-lg, $justify: space-between);
  padding: 25px 0;

  @include tablet {
    @include flex-col($gap-md);
    padding: 15px 0;
  }
}

/* DESCRIPTION */
.description {
  @include flex-col($gap-lg, stretch, space-between);

  @include tablet {
    gap: $gap-sm;
  }
}

.title {
  h1 {
    font-size: $fs-xl;
    color: $primary;
    font-weight: 500;

    @include tablet {
      font-size: $fs-sm * 1.3;
    }
  }

  p {
    font-size: $fs-md;

    @include tablet {
      font-size: $fs-sm;
    }
  }
}

/* TAGS */
.tags {
  @include flex-row($gap-sm);
  flex-wrap: wrap;

  li {
    padding: 5px 35px;
    border-radius: $br-md;
    background: $primary;
    color: $white;
    font-size: $fs-sm;
    font-weight: 700;

    @include tablet {
      padding: 5px 30px;
      font-size: $fs-xs;
    }
  }
}

/* HOST */
.host {
  @include flex-col($gap-md, flex-end, space-between);

  @include tablet {
    @include flex-row($gap-sm, center, space-between, row-reverse);
  }
}

.information {
  @include flex-row($gap-sm, center);

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;

    @include tablet {
      width: 32px;
      height: 32px;
    }
  }

  p {
    color: $primary;
    font-size: $fs-md;
    text-align: right;
    width: min-content;

    @include tablet {
      font-size: $fs-xs;
    }
  }
}
