.accommodation__container {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;

  .accommodation__description,
  .accommodation__host {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
  }

  .accommodation__description {
    .accommodation__title {
      h1 {
        font-size: 36px;
        color: var(--primary-color);
      }

      p {
        font-size: 18px;
        margin-top: 10px;
      }
    }

    .accommodation__tags {
      display: flex;
      gap: 10px;

      li {
        font-size: 14px;
        font-weight: 700;
        padding: 5px 35px;
        color: #fff;
        background-color: var(--primary-color);
        border-radius: 10px;
      }
    }
  }

  .accommodation__host {
    .accommodation__information {
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }

      p {
        text-align: end;
        width: min-content;
        font-size: 18px;
        line-height: 1.43;
        color: var(--primary-color);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .accommodation__container {
    flex-direction: column;
    gap: 15px;

    .accommodation__description {
      gap: 10px;

      .accommodation__title {
        h1 {
          font-size: 18px;
        }

        p {
          font-size: 14px;
        }
      }

      .accommodation__tags {
        flex-wrap: wrap;
        li {
          font-size: 10px;
          padding: 5px 30px;
        }
      }
    }

    .accommodation__host {
      flex-direction: row-reverse;
      align-items: center;

      .accommodation__information {
        p {
          font-size: 12px;
        }

        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
