.collapse__wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  &.col-1 {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  &.col-2 {
    justify-content: space-between;
    article {
      flex: 0 0 calc(100% / 2 - 38px);
    }
  }
}

@media screen and (max-width: 768px) {
  .collapse__wrapper {
    gap: 20px;

    &.col-2 {
      article {
        flex: 0 0 100%;
      }
    }
  }
}
