@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  padding: 10px;
  margin: 0 auto;
  border: 6px solid var(--primary-color);
  border-bottom-color: transparent;
  border-radius: 22px;
  animation: loader 1s infinite linear;
  height: 0;
  width: 0;
}
