.accommodation__rating {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .accommodation__rating {
    gap: 5px;

    img {
      width: 14px;
      height: 13px;
    }
  }
}
