@use "../../styles/index" as *;

.rating {
  @include flex-row($gap-md);
  padding-bottom: 5px;

  @include tablet {
    gap: $gap-sm;
    padding-bottom: 0;

    img {
      width: 14px;
      height: 13px;
    }
  }
}
