.collapse__accommodation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  article {
    flex: 0 0 calc(100% / 2 - 38px);
  }
}

@media screen and (max-width: 768px) {
  .collapse__wrapper {
    article {
      flex: 0 0 100%;
    }
  }
}
