@use "../../styles/index" as *;

.collapse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  article {
    flex: 0 0 calc(50% - 38px);
  }

  @include tablet {
    gap: $gap-xl;

    article {
      flex: 0 0 100%;
    }
  }
}
