@use "./variables" as *;

// Breakpoints
@mixin tablet {
  @media (max-width: #{$break-tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$break-laptop}) {
    @content;
  }
}

// Flex helpers
@mixin flex-col(
  $gap: 0,
  $align: unset,
  $justify: flex-start,
  $direction: column
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-row($gap: 0, $align: unset, $justify: flex-start, $direction: row) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

// Position helpers
@mixin absolute-fill {
  position: absolute;
  inset: 0;
}

@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
