// COLORS
$primary: #ff6060;
$secondary: #f6f6f6;
$white: #fff;
$black: #000;

// RADIUS
$br-sm: 5px;
$br-md: 10px;
$br-lg: 25px;

// TYPO
$fs-xl: 36px;
$fs-lg: 24px;
$fs-md: 18px;
$fs-sm: 14px;
$fs-xs: 12px;

// SPACING
$gap-sm: 10px;
$gap-md: 20px;
$gap-lg: 30px;

// BREAKPOINTS
$break-tablet: 768px;
$break-laptop: 1024px;
