@use "./variables" as *;

/* ------------ RESET MODERNE ------------ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  background: $white;
  color: $black;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea {
  font: inherit;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
}

/* ------------ LAYOUT GLOBAL ------------ */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;

  main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  > *:not(footer) {
    padding: 0 100px 50px;
  }

  @media (max-width: $break-laptop) {
    padding-top: 20px;

    > *:not(footer) {
      padding: 0 20px 20px;
    }
  }
}
