.card {
  flex: 0 0 calc(100% / 3 - 40px);
  overflow: hidden;
  border-radius: 10px;
  color: #fff;
  height: 340px;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  article {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(#0000, #0000004d);
    }

    img {
      height: 100%;
      object-fit: cover;
    }

    p {
      position: absolute;
      z-index: 1;
      font-size: 18px;
      font-weight: 700;
      width: 100%;
      bottom: 0;
      margin: 0;
      padding: 20px;
    }
  }
}
