@use "../../styles/index" as *;

.container {
  overflow: hidden;

  &.collapsed {
    .content {
      max-height: 300px;
      transform: translateY(0);
    }

    .toggle {
      transform: rotate(180deg);
    }
  }
}

/* Header */
.title {
  @include flex-row($gap-sm, center, space-between);
  background: $primary;
  color: $white;
  border-radius: $br-sm;
  position: relative;
  z-index: 1;
  padding: 10px 15px;
  font-size: $fs-lg;
  font-weight: 700;
  cursor: pointer;

  .icon {
    transition: 0.4s;
  }
}

/* Content */
.content {
  background: $secondary;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
  transform: translateY(-50px);
  border-radius: 0 0 $br-sm $br-sm;

  .paragraph {
    padding: 20px;
  }

  ul {
    @include flex-col($gap-sm);
    padding: 15px 20px;
    font-size: $fs-md;
    line-height: 1.4;
  }
}

@include tablet {
  .title {
    font-size: $fs-sm;
    padding: 10px;

    img {
      width: 16px;
    }
  }

  .content {
    font-size: $fs-xs;

    ul {
      font-size: $fs-xs;
    }
  }
}
