.carrousel__container {
  position: relative;
  overflow: hidden;
  border-radius: 25px;

  .carrousel__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 25px;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }

  .carrousel__pagination {
    position: absolute;
    z-index: 1;
    font-size: 18px;
    color: #fff;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  .carrousel__wrapper {
    display: flex;

    figure {
      flex: 0 0 100%;
      img {
        display: block;
        width: 100%;
        height: 415px;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .carrousel__container {
    .carrousel__nav img {
      width: 11px;
    }

    .carrousel__pagination {
      display: none;
    }

    .carrousel__wrapper figure img {
      height: 255px;
    }
  }
}
