header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    a {
      color: #000;
      text-decoration-color: transparent;
      padding: 0 27.5px;
      transition: 0.5s;

      &:hover {
        text-decoration-color: #000;
      }
    }
  }
}
