.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    object-fit: contain;
  }

  nav {
    a {
      color: #000;
      text-decoration-color: transparent;
      padding: 0 27.5px;
      transition: 0.5s;

      &:hover {
        text-decoration-color: #000;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-wrap: wrap;

    img {
      width: 145px;
      height: 45px;
    }

    nav a {
      font-size: 12px;
      padding: 0 12.5px;
    }
  }
}
