@use "../../styles/index" as *;

.header {
  @include flex-row(0, center, space-between);

  img {
    object-fit: contain;
  }

  nav {
    a {
      color: $black;
      text-decoration-color: transparent;
      padding: 0 27.5px;
      transition: 0.5s;

      &.active {
        text-decoration: underline;
        color: $black;
      }

      &:hover {
        text-decoration-color: $black;
      }
    }
  }

  @include tablet {
    flex-wrap: wrap;

    img {
      width: 145px;
      height: 45px;
    }

    nav a {
      font-size: $fs-xs;
      padding: 0 12.5px;
    }
  }
}
