.home__gallery {
  display: flex;
  gap: 50px 60px;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding: 50px;
}

@media screen and (max-width: 1024px) {
  .home__gallery {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .home__gallery {
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: unset;
    padding: 0;
  }
}
