:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.43;
  font-weight: 500;
  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-top: 45px;
  margin: 0 auto;

  & > *:not(footer) {
    padding: 0 100px 50px;
  }
}
