@use "../../styles/index" as *;

.banner {
  position: relative;
  height: 223px;
  border-radius: $br-lg;
  overflow: hidden;
  margin-bottom: 40px;
  background-position: center;
  background-size: cover;

  &::before {
    @include absolute-fill;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    border-radius: inherit;
  }

  h1 {
    @include center-absolute;
    font-size: 48px;
    color: $white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
  }

  @include tablet {
    height: 111px;
    margin-bottom: 20px;

    h1 {
      font-size: 24px;
      width: 200px;
      left: 15px;
      transform: translateY(-50%);
      white-space: normal;
    }
  }
}
