@use "../../styles/index" as *;

.container {
  @include flex-col(140px, center, center);
  flex: 1;

  @include laptop {
    gap: 110px;
  }
}

.code {
  font-size: 288px;
  font-weight: 700;
  color: $primary;

  @include laptop {
    font-size: 96px;
  }
}

.message {
  font-size: $fs-xl;
  color: $primary;

  @include tablet {
    font-size: $fs-md;
    text-align: center;
    width: 200px;
  }
}

.link {
  font-size: $fs-md;
  color: $black;
  text-decoration: underline;

  @include tablet {
    font-size: $fs-sm;
  }
}
