.error__container {
  display: flex;
  flex: 1;
  gap: 140px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .error__code {
    font-size: 288px;
    font-weight: 700;
    color: var(--primary-color);
  }

  .error__message {
    font-size: 36px;
    color: var(--primary-color);
  }

  .error__link {
    color: #000;
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .error__container {
    gap: 110px;

    .error__code {
      font-size: 96px;
    }
  }
}
